#container
{
    width: 600px;
    height: 600px;
    margin-left:auto;
    margin-right: auto;
    background-color: grey;
    padding: 15px;
    border-radius: 5px;
}

#inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

#resultContainer{
    overflow-y: scroll;
    height: 95%;
    margin-top: 20px;
}

.listButton
{
    height: 100%;
    width: 100px;
}

.listTextContainer
{
    display:flex;
    flex-direction: column;
}

.listContainer
{
    padding: 10px;
    height: 100px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;

    border: 5px solid red;
    margin-bottom: 10px;
    border-radius: 5px;
}

.songTile
{
    margin-bottom: 10px;
}